@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Cutive+Mono&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300;1,400&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Quicksand:wght@300;400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300;1,400&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,300&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400&family=Ubuntu:wght@300&family=Work+Sans:wght@300&family=Zen+Kaku+Gothic+New:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto";
  font-weight: 300; }

.container {
  width: 75%;
  margin: auto; }

a {
  text-decoration: none; }
  a:hover {
    transition: 0.6s ease; }

ul {
  list-style-type: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400; }

header {
  background-image: url("../images/banner.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 97vh;
  color: white;
  background-attachment: fixed; }
  header .container nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0px; }
    header .container nav ul {
      flex: 0 0 40%;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      header .container nav ul li {
        padding: 0px 10px; }
        header .container nav ul li a {
          color: white;
          font-size: 1.1rem; }
          header .container nav ul li a:hover {
            color: black; }
        header .container nav ul li button {
          border-radius: 20px;
          border: none;
          background-color: white;
          padding: 10px 35px;
          font-size: 1.1rem;
          border-radius: 20px; }
          header .container nav ul li button:hover {
            background-color: #f1bb17;
            transition: 0.6s ease;
            color: white; }
  header .container section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 86vh;
    justify-content: space-between;
    text-align: center; }
    header .container section hgroup {
      padding-top: 70px; }
      header .container section hgroup h2 {
        font-size: 3.2rem;
        font-weight: 500; }
      header .container section hgroup h3 {
        font-weight: 500;
        font-size: 3rem; }
      header .container section hgroup p {
        padding: 15px 0px;
        font-size: 1.1rem;
        line-height: 1.6; }
      header .container section hgroup button {
        margin: 30px 0px;
        border: none;
        background-color: white;
        padding: 18px 55px;
        font-size: 1.2rem;
        border-radius: 10px; }
        header .container section hgroup button:hover {
          background-color: #f1bb17;
          transition: 0.6s ease;
          border-radius: 25px;
          color: white; }
    header .container section form {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      background-color: white;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      padding: 20px 50px 0px; }
      header .container section form div {
        display: flex;
        flex-direction: column;
        align-items: flex-start; }
        header .container section form div label {
          font-size: 1rem;
          font-weight: 500;
          color: gray;
          padding: 10px 15px; }
        header .container section form div input {
          border: none;
          outline: none;
          background-color: #eee;
          padding: 10px 15px;
          border-radius: 20px;
          font-size: 1rem; }
          header .container section form div input:focus {
            border: 2px solid rgba(255, 136, 0, 0.911); }
      header .container section form button {
        margin: 0;
        align-self: flex-end;
        background-color: black;
        border: none;
        border-radius: 10px;
        color: white;
        font-size: 1.1rem;
        padding: 10px 40px; }
        header .container section form button:hover {
          background-color: #f1bb17;
          transition: 0.6s ease;
          border-radius: 25px; }

.accommodation .container {
  padding: 80px 0px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
  .accommodation .container hgroup {
    flex: 0 0 40%;
    font-size: 2.8rem;
    color: #333; }
    .accommodation .container hgroup h3 {
      font-weight: 300; }
    .accommodation .container hgroup h4 {
      font-weight: 500; }
    .accommodation .container hgroup p {
      font-size: 1.2rem;
      line-height: 1.9;
      padding: 50px 0px; }
    .accommodation .container hgroup button {
      border: none;
      background-color: black;
      color: white;
      font-size: 1.2rem;
      padding: 15px 50px;
      border-radius: 10px; }
      .accommodation .container hgroup button:hover {
        background-color: #f1bb17;
        transition: 0.6s ease;
        border-radius: 25px; }
  .accommodation .container .images {
    flex: 0 0 60%; }
    .accommodation .container .images img {
      padding: 10px;
      float: right; }

.breakfast .container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 50px; }
  .breakfast .container hgroup {
    flex: 0 0 40%;
    font-size: 2.8rem;
    color: #333;
    text-align: right; }
    .breakfast .container hgroup h3 {
      font-weight: 300; }
    .breakfast .container hgroup h4 {
      font-weight: 500; }
    .breakfast .container hgroup p {
      font-size: 1.2rem;
      line-height: 1.9;
      padding: 30px 0px; }
    .breakfast .container hgroup button {
      border: none;
      background-color: black;
      color: white;
      font-size: 1.1rem;
      padding: 15px 40px;
      border-radius: 10px; }
      .breakfast .container hgroup button:hover {
        background-color: #f1bb17;
        transition: 0.6s ease;
        border-radius: 25px; }
  .breakfast .container .images {
    flex: 0 0 60%; }
    .breakfast .container .images img {
      width: 80%; }

.about {
  background-color: #353e4f;
  padding: 80px 0px;
  margin-bottom: 70px; }
  .about .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: white; }
    .about .container hgroup {
      flex: 0 0 50%; }
      .about .container hgroup h3 {
        font-size: 3rem;
        font-weight: 500;
        padding-bottom: 10px; }
      .about .container hgroup p {
        font-size: 1.2rem;
        line-height: 1.6; }
    .about .container img {
      width: 50%; }

.testimonial {
  background-image: url("../images/tes_bg.jpg");
  background-position: center;
  background-size: cover;
  height: 80vh; }
  .testimonial h2 {
    text-align: center;
    font-size: 3rem;
    color: #333;
    font-weight: 500;
    padding-top: 15px;
    padding-bottom: 50px; }
  .testimonial .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap; }
    .testimonial .container article {
      background-color: #d75309;
      padding: 20px;
      color: white;
      margin: 10px;
      flex: 0 0 25%; }
      .testimonial .container article hgroup {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0px; }
        .testimonial .container article hgroup h4 {
          font-size: 1.5rem; }
      .testimonial .container article p {
        line-height: 1.8;
        font-size: 1.2rem; }

/*# sourceMappingURL=style.css.map */
